{% extends 'paciente/base_paciente.html' %}

{% load static %}


{% block title %}
Lista de Pacientes
{% endblock title %}


{% block content %}

{% include 'includes/header.html' %}

<div class="grid-container">
    <div class="grid-x grid-margin-x align-center" style="margin-top: 2em;">
        <h3 class="cell" style="text-align:center;">LISTA DE PACIENTES REGISTRADOS</h3>

        <div class="cell grid-x grid-margin-x align-center">

            <form class="cell small-9 input-group" method="GET">
                <span class="input-group-label">Cedula/Nombre</span>
                <input class="input-group-field" type="text" placeholder="Cedula o Nombre del paciente" id="paciente" name="paciente">
                <div class="input-group-button">
                    <input type="submit" class="button secondary" value="Buscar">
                </div>
            </form>
            
        </div>
    </div>

    <div class="cell grid-x grid-margin-x" style="margin-top: 2em;">
        <table class="hover">
            <thead>
                <th>Tipo Doc.</th>
                <th>N°. Documento</th>
                <th>Nombres</th>
                <th>Apellidos</th>                
                <th>EPS</th>
                <th>Acciones</th>
            </thead>
        <tbody>
            {% for paciente in pacientes %}
            <tr>
                <td>{{paciente.get_tipo_documento_display}}</td>
                <td>{{paciente.nro_documento}}</td>
                <td>{{paciente.nombres}}</td>
                <td>{{paciente.apellidos}}</td>
                <td>{{paciente.eps}}</td>
                <td>
                    <a href="{% url 'paciente_app:infos_pacientes' paciente.id %}" class="button">Ver</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    </div>

    <!-- INICIO PAGINACION-->
<div class="cell">
    {% if is_paginated %}
    <nav aria-label="Pagination">
        <ul class="pagination">
            {% if page_obj.has_previous %}
            <li class="pagination-previous">
                <a href="?page={{page_obj.previous_page_number}}">Atras</a>
            </li>
            {% endif %}

            {% for pagina in paginator.page_range %}
            
            {% if pagina == page_obj.number %} 
            <li class="current"><span class="show-for-sr">You're on page</span>{{pagina}}</li>
            {% else %}
            <li class=""><a href="?page={{pagina}}">{{pagina}}</a></li>
            {% endif %} 
            {% endfor %}
            
            {% if page_obj.has_next %}
            <li class="pagination-next">
                <a href="?page={{page_obj.next_page_number}}">Siguiente</a>
            </li>
            {% endif %}
        </ul>
    </nav>
    {% endif %}            
</div>
<!-- FIN PAGINACION--> 


</div>






{% endblock content %}
    

