{% extends 'paciente/base_paciente.html' %}

{% load static %}

{% block title %}
Modidicar Cita
{% endblock title %}


{% block content %}

{% include 'includes/header.html' %}

<div class="grid-x grid-margin-x align-center" style="margin-top: 2em;">
    <h1 class="cell" style="text-align:center;">MODIFICAR CITA MEDICA</h1>
        <div class="cell large-6">

        <form class="cell medium-9 grid-x grid-margin-x" method="POST">{% csrf_token %}
            <div class="medium-6 cell">
                <label>Cita asignada el dia
                {{form.fecha_actual }}
                </label>
            </div>
            <div class="medium-6 cell">
                <label>Fecha de Cita
                    {{form.fecha_cita}}
                </label>
            </div>
            <div class="medium-6 cell">
                <label>Hora Cita
                    {{form.hora_cita}}
                </label>
            </div>
            <div class="medium-6 cell">
                <label>Historia Clinica
                    {{form.historia_clinica}}
                </label>
            </div>

            <div class="medium-6 cell">
                <label>Paciente
                    {{form.paciente}}
                </label>
            </div> 

            <div class="medium-6 cell">
                <label>EPS
                    {{form.eps}}
                </label>
            </div>

            <div class="medium-6 cell">
                <label>Codigo Autorizacion
                    {{form.codigo_autorizacion}}
                </label>
            </div>

            <div class="medium-6 cell">
                <label>Tipo de Estudio
                    {{form.tipo_estudio}}
                </label>
            </div>

            <div class="medium-12 cell">
                <label>Observaciones
                    {{form.obsernaciones}}
                </label>
            </div> 

            <div class="cell medium-2">
                <button type="submit" class="success button">Actualizar</button>
            </div>

            <div class="cell medium-4">
                <a  href="{% url 'cita_app:todas_las_citas' %}" class="button warning">Cancelar</a>                
            </div>           

            
            {% if form.errors %}
            <p style="color:red;">Ya existe una cita para este dia y hora</p>
            {% endif %}

        </form>

    </div>
</div>


{% endblock content %}