{% extends 'eps/base_eps.html' %}

{% load static %}

{% block title %}
Agreagar EPS
{% endblock title %}


{% block content %}

{% include 'includes/header.html' %}

<div class="grid-x grid-margin-x align-center" style="margin-top: 2em;">
    <h1 class="cell" style="text-align:center;" >AGREGAR EPS</h1>
        <div class="cell large-6">

        <form class="cell medium-9 grid-x grid-margin-x align-center" method="POST">{% csrf_token %}

            <div class="medium-8 cell">
                <label>Nombre EPS
                {{form.nombre}}
                </label>
            </div>        

            <div class="cell medium-8">
                <button type="submit" class="success button">Guardar</button>
            </div>

        </form>

    </div>
</div>


{% endblock content %}
