<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">App Citas Medicas</li>
      <li><a href="{% url 'home_app:index' %}">Inicio</a></li>
      <li>
        <a href="#">Pacientes</a>
        <ul class="menu vertical">
          <li><a href="{% url 'paciente_app:todos_los_pacientes' %}">Ver Pacientes</a></li>
          <li><a href="{% url 'paciente_app:agregar_paciente' %}">Agregar Paciente</a></li>
        </ul>
      </li>

      <li>
        <a href="#">Citas</a>
        <ul class="menu vertical">
          <li><a href="#">Ver Citas</a></li>
          <li><a href="#">Asignar Cita</a></li>
        </ul>
      </li>

      <li>
        <a href="#">EPS</a>
        <ul class="menu vertical">
          <li><a href="#">Ver EPS</a></li>
          <li><a href="#">Agregar EPS</a></li>
        </ul>
      </li>

      <li><a href="#">Usuarios</a></li>
      <li><a href="#">Administrar</a></li>
      
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><input type="search" placeholder="Buscar" /></li>
      <li><a class="button primary" href="#">Registrar Nuevo</a></li>
    </ul>
  </div>
</div>
