<div class="top-bar">
  <div class="top-bar-left">
    <ul class="dropdown menu" data-dropdown-menu>
      <li class="menu-text">App Citas Medicas</li>
      <li><a href="{% url 'home_app:index' %}">Inicio</a></li>
      <li>
        <a href="#">Pacientes</a>
        <ul class="menu vertical">
          <li><a href="{% url 'paciente_app:todos_los_pacientes' %}">Ver Pacientes</a></li>
          <li><a href="{% url 'paciente_app:agregar_paciente' %}">Agregar Paciente</a></li>
        </ul>
      </li>

      <li>
        <a href="#">Citas</a>
        <ul class="menu vertical">
          <li><a href="{% url 'cita_app:todas_las_citas' %}">Ver Citas</a></li>
          <li><a href="{% url 'cita_app:asignar_cita' %}">Asignar Cita</a></li>
        </ul>
      </li>

      <li>
        <a href="#">EPS</a>
        <ul class="menu vertical">
          <li><a href="{% url 'eps_app:lista_eps' %}">Ver EPS</a></li>
          <li><a href="{% url 'eps_app:agregar_eps' %}">Agregar EPS</a></li>
        </ul>
      </li>

      <li><a href="#">Usuarios</a></li>
      <li><a href="#">Administrar</a></li>
      
    </ul>
  </div>

  <div class="top-bar-right">
    <ul class="menu">
      {% if user.is_authenticated %}
      <li><a class="button primary" href="#">Cerrar Sesion</a></li>
      {% else %}
      <li><a class="button primary" href="#">Iniciar Sesion</a></li>
      {% endif %}
    </ul>
  </div>
</div>
